{% extends 'base.html' %}
{% load static %}
{% load bootstrap_icons %}

{% block app_css %}
    <link rel="stylesheet" href="{% static 'beta/comment.css' %}">
{% endblock  %}

{% block title %}
    ثبت بازخورد
{% endblock  %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4"></div>
            <div class="col-md-4 col-sm-4">
                <form class="feedback-form-position" action="" method="POST" novalidate>
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.wordchoice }}
                    </div>
                    {{ form.comment }}
                    <br>
                    <button class="btn-danger feedback-btn" type="submit">ارسال</button>
                </form>
            </div>
            <div class="col-md-4 col-sm-4"></div>
        </div>
    </div>

    <script type="text/javascript">
        function filterDropdown() {
            var input, filter, select, options, i;
            input = document.getElementById("food-search");  // The search input
            filter = input.value.toLowerCase();  // Convert the input value to lowercase
            select = document.getElementById("food-select");  // The select element
            options = select.getElementsByTagName("option");  // The list of options in the select
    
            // Loop through all options and hide those that don't match the search query
            for (i = 0; i < options.length; i++) {
                var txtValue = options[i].textContent || options[i].innerText;
                if (txtValue.toLowerCase().indexOf(filter) > -1) {
                    options[i].style.display = "";  // Show the option if it matches the search
                } else {
                    options[i].style.display = "none";  // Hide the option if it doesn't match
                }
            }
        }
    </script>

{% endblock %}