.def {
    font-size: medium;
    text-align: justify;
    padding: 25px 25px;
    line-height: 30px;
}

input {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin-top: 60px;
    /* border-radius: 0px; */
    border-color: orange;
    border-top: solid 1px orange;
    border-left: solid 1px orange;
    border-right: solid 1px orange;
    /* border-bottom-width: 2px; */
    border-radius: 6px;
    outline: none;
    width: 220px;
    padding-top: 5px;
    padding: 5px;
}

.col-md-4, col-sm-4 {
    padding-right: 0px;
    padding-left: 0px;
}

.feedback-btn {
    padding: 10px;
    width: 100%;
}


