.def {
    font-size: medium;
    text-align: justify;
    padding: 25px 25px;
    line-height: 30px;
}

input {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin-top: 60px;
    /* border-radius: 0px; */
    border-bottom-color: orange;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: 2px;
    outline: none;
}

.cursor {
	position: relative;
}
.cursor	i {
	position: absolute;
	width: 1px;
	height: 80%;
	background-color: gray;
	left: 5px;
	top: 10%;
	animation-name: blink;
	animation-duration: 800ms;
	animation-iteration-count: infinite;
	opacity: 1;
}

.cursor input:focus + i {
	display: none;
}

@keyframes blink {
	from { opacity: 1; }
	to { opacity: 0; }
}